<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMapConfig PUBLIC "-//iBATIS.com//DTD SQL Map Config 2.0//EN" "http://www.ibatis.com/dtd/sql-map-config-2.dtd">
<sqlMapConfig>
	<settings useStatementNamespaces="true"/>
#foreach ($entity in $entityList)
#if ($entity.isCreate())
	<sqlMap resource="${entity.getPackageName().replaceAll("[.]", "/")}/dao/ibatis/maps/${entity.getClassName()}.xml"/>
#end
#end
</sqlMapConfig>
