package ${validator.getFullPackageName()};

#foreach ($declaration in $validator.getImportDeclarations())
${declaration}
#end

public class ${validator.getClassName()} implements Validator {

	@SuppressWarnings("unchecked")
	public boolean supports(Class clazz) {
		return ${entity.getClassName()}.class.isAssignableFrom(clazz);
	}

	public void validate(Object target, Errors errors) {
#foreach ($field in $entity.getFieldList())
#if ($field.isCreate())
#if ($field.isAttachFileType())
#else
#if ($field.isNullable())
#else
		ValidationUtils.rejectIfEmptyOrWhitespace(errors, "${field.getFieldName()}", "required");
#end
#end
#end
#end
	}

}
