<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>

<%@include file="/WEB-INF/jsp/include/tags.jsp"%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>${entity.getInstanceName()} - write</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<script type="text/javascript">
	<!--
		function goList() {
			var f = document.${criteria.getInstanceName()}Form;
			f.submit();
		}
	//-->
	</script>
</head>
<body>
	
	<p><a href="/">home</a></p>
	
	<h1>${entity.getClassName()} - write</h1>
	
	<form:form commandName="${criteria.getInstanceName()}" id="${criteria.getInstanceName()}Form" name="${criteria.getInstanceName()}Form" action="/${entity.getInstanceName()}.do" method="get">
	<input type="hidden" name="mode"/>
#foreach ($field in $entity.getPrimaryKeyFieldList())
#if ($field.isCreate())
	<form:hidden path="${field.getFieldName()}"/>
#end
#end
	<form:hidden path="paging.currentPage"/>
	</form:form>

#if ($entity.hasAttachFileField())
	<form:form commandName="${entity.getInstanceName()}" name="${entity.getInstanceName()}Form" action="/${entity.getInstanceName()}Write.do" enctype="multipart/form-data">
#else
	<form:form commandName="${entity.getInstanceName()}" name="${entity.getInstanceName()}Form" action="/${entity.getInstanceName()}Write.do">
#end
	<input type="hidden" name="mode" value="write"/>
	<table width="800">
		<colgroup width="800">
			<col width="100"/>
			<col width="*"/>
		</colgroup>
#foreach ($field in $entity.getFieldList())
#if ($field.isCreate())
		<tr>
			<th>${field.getFieldName()}</th>
			<td>
#if ($field.isAttachFileType())
				<input type="file" name="${field.getFieldName()}"/>
#elseif ($field.isLob())
				<form:textarea path="${field.getFieldName()}" cols="80" rows="10"/>
#else
				<form:input path="${field.getFieldName()}"/>
#end
				<form:errors path="${field.getFieldName()}" cssClass="errorMessage"/>
			</td>
		</tr>
#end
#end
	</table>
	<input type="submit" value="write"/>
	</form:form>

	<a href="javascript:goList();">list</a>

</body>
</html>
