<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="AppGen Mapping Editor"
            extensions="xml"
            icon="icons/icon_editor.gif"
            class="net.sourceforge.appgen.editor.MappingDataEditor"
            id="net.sourceforge.appgen.editor.MappingDataEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sourceforge.appgen"
            name="AppGen">
      </category>
      <wizard
            category="net.sourceforge.appgen"
            class="net.sourceforge.appgen.wizard.MappingDataWizard"
            icon="icons/icon_mapping.gif"
            id="net.sourceforge.appgen.wizard.MappingDataWizard"
            name="AppGen mapping file">
      </wizard>
   </extension>

</plugin>
